<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kodaxx.steempay" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SteemPay</name>
    <description>
        SteemPay is the world's easiest digital currency wallet.
        
        With the SteemPay wallet, your passwords and money remain in your control at all times. Your keys never leave the device and the code is 100% open source.
        Steem Backed Dollars is a stable digital currency, meaning that the price does not change is it does with Bitcoin, Ethereum, etc.
        
        This wallet deals only with your Steem Backed Dollars balance and sending is as simple as tagging someone on social media!
    </description>
    <author email="kodaxx@gmail.com" href="https://kodaxx.github.io">
        kodaxx
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist"      source="npm" spec="1.1.0" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <preference name="orientation" value="portrait" />
	<platform name="android">
		<icon src="www/res/icon/android/drawable-ldpi-icon.png" density="ldpi" />
		<icon src="www/res/icon/android/drawable-mdpi-icon.png" density="mdpi" />
		<icon src="www/res/icon/android/drawable-hdpi-icon.png" density="hdpi" />
		<icon src="www/res/icon/android/drawable-xhdpi-icon.png" density="xhdpi" />
		<icon src="www/res/icon/android/drawable-xxhdpi-icon.png" density="xxhdpi" />
		<icon src="www/res/icon/android/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
        <allow-intent href="market:*" />
	</platform>    
</widget>
