<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>SteemPay</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- libraries -->
  <script src="https://use.fontawesome.com/054e957232.js"></script>
  <script src="lib/jquery-3.2.1.min.js"></script>
  <script src="lib/steem.min.js"></script>
  <script src="lib/secure-ls.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
  <!-- js -->
  <script src="js/utils.js"></script>
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/global.css">
</head>

<body>
  <script type="text/javascript" src="cordova.js"></script>
  <div id="app">
    <!-- loader div -->
    <div v-show="loading" class="loader"><span id="main_status" class="status">{{ status }}</span></div>
    <!-- nav bar -->
    <header id="header">
      <i style="display: none" class="fa fa-chevron-left left-button" id="back" aria-hidden="true"><span id="back_text">back</span></i>
      <i @click="showDetails = false" v-show="showDetails" class="fa fa-times left-button" aria-hidden="true"></i>
      <span id="header-title">steempay</span>
      <span id="header_balance"> • {{ currency === 'SBD' ? `$${sbd_balance} SBD` : `${steem_balance} STEEM` }}</span>
      <i v-show="!showDetails" class="fa fa-sign-out" id="sign_out" aria-hidden="true"></i>
      <i class="fa fa-paper-plane" id="header_send" aria-hidden="true"></i>
    </header>
    <!-- account info -->
    <div id="main">
      <div id="hero">
        <i @click="swapCurrency()" style="margin: 5vw; color: white;" class="fa fa-3x fa-caret-left"></i>
        <span @click="swapUSD()" v-show="!showUSD" id="balance">{{ currency === 'SBD' ? `$${sbd_balance}` : steem_balance }}<span id="ticker"> {{ currency }}</span></span>
        <span @click="swapUSD()" v-show="showUSD" id="balance">{{ currency === 'SBD' ? `$${sbd_usd}` : `$${steem_usd}` }}<span id="ticker"> USD</span></span>
        <i @click="swapCurrency()" style="margin: 5vw; color: white;" class="fa fa-3x fa-caret-right"></i>
      </div>
      <img id="profile" :src="avatar">
      <div id="balance_bottom">
        <div id="info">
          <span id="user">{{ user }}</span>
          <br>
          <span v-show="location !== ''" id="location" class="subtext">{{ location }}</span>
        </div>
      </div>
      <div id="send_button">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </div>
    </div>
    <!-- transfer page -->
    <div id="transfer_page">
      <span class="subtext subtext_margin">
        <i class="fa fa-shopping-cart"></i>&nbsp;transfer<span v-show="showErr" id="transfer_error"> - {{ errorMsg }}</span>
      </span>
      <div class="form_wrap">
        <label>to:</label>
        <input v-model="to" type="text" placeholder="e.g. kodaxx">
      </div>
      <div class="form_wrap">
        <label>amount:</label>
        <input v-model="amount" type="number" placeholder="e.g. 20.00">
      </div>
      <div class="form_wrap">
        <label>memo:</label>
        <input v-model="memo" type="text" placeholder="public memo (optional)">
      </div>
      <div class="primary_button" @keydown.enter="transfer(this.currency)" @click="transfer(this.currency)">{{ `send ${this.currency.toLowerCase()}` }}</div>
    </div>
    <!-- transfer history -->
    <div v-show="!showDetails" id="history_page">
      <span class="subtext" id="activity">
        <i class="fa fa-history"></i>&nbsp;history<span @click="toggleHistory()" style="float: right;">{{ showStatus }}</span>
      </span>
      <p v-show="history.length === 0" class="subtext" id="none">no recent activity :(</p>
      <div id="list">
        <!-- history item -->
        <div v-for="item in history">
          <div @click="historyDetails(item)" v-show="item.details.amount.includes(currency) || showAll" v-if="item.details.to === user"
            class="tx_wrap">
            <span class="tx_icon received"><i class="fa fa-plus-circle" aria-hidden="true"></i><span class="tx_users">received from {{ item.details.from }}</span>
            <span class="tx_amount received">{{ item.details.amount.includes('SBD') ? `+$${item.details.amount}` : `+${item.details.amount}` }}</span>
            </span>
          </div>
          <div @click="historyDetails(item)" v-show="item.details.amount.includes(currency) || showAll" v-else class="tx_wrap">
            <span class="tx_icon sent"><i class="fa fa-minus-circle" aria-hidden="true"></i><span class="tx_users">sent to {{ item.details.to }}</span>
            <span class="tx_amount sent">{{ item.details.amount.includes('SBD') ? `-$${item.details.amount}` : `-${item.details.amount}` }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade">
      <div v-show="showDetails" id="history_details">
        <div id="detail-title">
          <span class="subtext">
          <i class="fa fa-info-circle"></i>&nbsp;transaction details<span style="float: right; margin-right: 3vw;">{{ details.date }}</span>
          </span>
        </div>
        <div>
          <p v-show="details.to !== user" class="detail to">to {{ details.to }}</p>
          <p v-show="details.to === user" class="detail from">from {{ details.from }}</p>
          <p class="detail amount">{{ details.amount }}</p>
          <p class="subtext" style="margin-left: 3vw"><i class="fa fa-sticky-note"></i>&nbsp;memo:</p>
          <textarea class="memo" rows="10" disabled>{{ details.memo }}</textarea>
          <p class="subtext tx_id_v"><a :href="details.tx_href" target="_blank">view on blockchain: {{ details.tx_id }}</a></p>
        </div>
      </div>
    </transition>
  </div>
  <script src="js/main.js"></script>
</body>

</html>
